@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

* {
    margin: 0px auto;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    background-color: hsl(0, 0%, 8%);
}

.card {
    background-color: Dark Grey: hsl(0, 0%, 12%);
}

.normal {
    font-weight: 400;
}

.bold {
    font-weight: 600;
}

.bolder {
    font-weight: 700;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}